.box {
    height: 150px;
    width: 150px;
    border:darkblue;
    background: peachpuff;
}


.box2 {
    height: 20px;
    width: 100px;
    border: bisque;
    background:blue;
}



.container {
    display: flex;
    justify-content: space-between;
    wrap-option:wrap;
}

